.navHeader 
{
	display : flex;
	justify-content: flex-end;
	list-style-type: none;
	align-items: center;
}

.navHeader li 
{
	padding: 10px;

}

.pad {
	width: 20px;
	height: auto;
}

.connexion 
{
	background-color : #4986EA;
	color : white;
	font-weight: bold;
	height: 30px;
	width: auto;
	border-radius: 3px;
}

.bdy
{
	text-align: center;
	padding-top: 109px;
}

.bdy *
{
	margin :10px;
}

input
{
	width: 600px;
	height: 30px;
}

.boutton
{
	font-weight: bold;
	background-color: rgba(199, 208, 221, 0.3);
	height: 36px;
	width: 149px;
	font-size: 0.85em;
}

footer
{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(199, 208, 221, 0.3);
}

.indonesie
{
	border: 0.5px solid rgba(199, 208, 221, 0.5);
	padding: 15px;
}

.navFooter
{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	padding-left: 6px;
	padding-right: 16px;
}

.navFooterGauche li
{
	padding: 10px;
}

.navFooterGauche
{
	display: flex;
}

.navFooterDroite li
{
	padding: 10px;
}

.navFooterDroite
{
	display: flex;
}


/* {
	border : 1px solid black;
}